{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Feed{% endblock %}

{% block navbar-left %}
  {% include '_navbar.html' with active_link='feed' %}
{% endblock %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h1>Feed</h1>
      <ul>
      {% for each in object_list %}
        <li>
          {% if each.poster_path %}
            <img src="http://image.tmdb.org/t/p/w92{{ each.poster_path }}" alt="{{ each.title }}">
          {% endif %}
          <p>
            {{each.title}}
            <span>
              {% if each.in_past %}
                was
              {% else %}
                will be
              {% endif %}
              released on {{each.release_date}}
            </span>
          </p>

          <ul>
            {% for person in each.people %}
              <li>
                <p>
                  {{person.name}} as {{person.role}}
                </p>
              </li>
            {% endfor %}
          </ul>
        </li>
        {%comment%}<li>
          {% if each.media.poster_path %}
            <img src="http://image.tmdb.org/t/p/w92{{ each.media.poster_path }}" alt="{{ each.media.title }}">
          {% endif %}
          <p>{{ each.media.title }}</p>
        </li>
        {%endcomment%}
      {% endfor %}
      </ul>
    </div>
  </div>

</div>
{% endblock %}
