{% extends 'base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Following{% endblock %}

{% block navbar-left %}
  {% include '_navbar.html' with active_link='search' %}
{% endblock %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h1>Following</h1>
      <ul>
      {% for person in people %}
        <li>
          {% if person.person.profile_path %}
            <img src="{{ person.person.profile_path }}" alt="{{ person.person.name }}">
          {% endif %}
          <p>{{ person.person.name }}</p>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
