<li class="nav-item{% if active_link == "home" %} active{% endif %}">
  <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item{% if active_link == "Feed" %} active{% endif %}">
  <a class="nav-link" href="{% url 'follow:follow_feed' %}">Feed</a>
</li>
<li class="nav-item{% if active_link == "following" %} active{% endif %}">
  <a class="nav-link" href="{% url 'follow:follow_list' %}">Following</a>
</li>
{% endif %}
