{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Results{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="search" %}
{% endblock %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h1>Results</h1>
      <ul>
      {% for result in results %}
        <li>
          {% if result.profile_path %}
            <img src="{{ result.profile_path }}" alt="{{ result.name }}">
          {% endif %}
          <p>{{ result.name }}</p>
          <span>
            <form class="follow-person-form">
              {% csrf_token %}
              <input type="hidden" value="{{ result.id }}" id="person_tmdb_id" name="person_tmdb_id">
              <input type="hidden" value="{{ result.name }}" id="person_name" name="person_name">
              <input type="hidden" value="{{ result.profile_path }}" id="person_profile_path" name="person_profile_path">
              <button id="follow-person-button" type="submit">{% if result.is_following %}Unfollow{% else %}Follow{% endif %}</button>
            </form>
          </span>
          {% if result.known_for %}
          <p>Known for:
          {% for each in result.known_for %}
            {{ each }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
            </p>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
$(function() {
  console.log('JS loaded');
  $('.follow-person-form').each(function() {
    $(this).on('submit', function(event){
      event.preventDefault();
      console.log("form submitted!");
      create_post(event.currentTarget);
    });
  });

  // AJAX for posting
  function create_post(form) {
    $.ajax({
      url : "{% url 'follow:follow_person' %}",
      type : "POST",
      data : {
        name: $(form).children('#person_name').val(),
        tmdb_id: $(form).children('#person_tmdb_id').val(),
        profile_path: $(form).children('#person_profile_path').val()
      },
      success : function(json) {
        $(form).children("#follow-person-button").text("Unfollow");
        console.log("success"); // another sanity check
      },
      error : function(xhr,errmsg,err) {
        console.log('POST failed!');
        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
  };


  // This function gets cookie with a given name
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  /*
  The functions below will create a header with csrftoken
  */

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  function sameOrigin(url) {
      // test that a given url is a same-origin URL
      // url could be relative or scheme relative or absolute
      var host = document.location.host; // host + port
      var protocol = document.location.protocol;
      var sr_origin = '//' + host;
      var origin = protocol + sr_origin;
      // Allow absolute or scheme relative URLs to same origin
      return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
          (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
          // or any other URL that isn't scheme relative or absolute i.e relative.
          !(/^(\/\/|http:|https:).*/.test(url));
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
              // Send the token to same-origin, relative URLs only.
              // Send the token only if the method warrants CSRF protection
              // Using the CSRFToken value acquired earlier
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

});
</script>
{% endblock scripts %}
